/* VARIABLES */
:root {
  --green-700: rgba(3, 77, 19, 1);
  --green-500: rgba(0, 255, 56, 0.6);
  --green-400: rgba(113, 255, 127, 1);
  --green-100: rgba(114, 188, 112, 1);
  font-size: 87.5%; /* 14px */
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  background: linear-gradient(
    to bottom right,
    var(--green-700),
    var(--green-500)
  );
  height: 100vh;
  overflow-y: hidden;
}

body {
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* BLINKER SETTINGS */

#blinker {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* NAV SETTIGS */

#flag {
  margin-right: 3px;
  opacity: 0.3;
  border-radius: 3px;
}

#flag:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a img:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

nav a img {
  opacity: 0.3;
}

/* CONTAINER */

.container {
  width: 90vw;
  max-width: 720px;
  height: 90vh;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

/* TITLE SETTINGS */

.text-content {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.text-content h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

.text-content p {
  font-size: 1.5rem;
}

/* WRAPPER SETTINGS */

.wrapper {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%232e4e2c' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
  width: 100vw;
  perspective: 1080px;
  perspective-origin: 50% 50%;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  from {
    background-position: 0 -0px;
  }
  to {
    background-position: 0px 100px;
  }
}

/* BUTTON SETTINGS */

.button {
  background: var(--green-400);
  min-width: 4rem;
  min-height: 3rem;
  padding: 0 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.button:hover {
  filter: brightness(0.9);
}

/* RESPONSIVITY */

@media (min-width: 768px) {
  html {
    font-size: 93.75%;
  }

  .text-content h1 {
    font-size: 5rem;
  }

  .text-content p {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
