/* VARIABLES */
:root {
  --button-green: rgba(113, 255, 127, 1);
  --dark-green: rgba(3, 77, 19, 1);
  --light-green: rgba(0, 255, 56, 0.6);
  --button: rgba(114, 188, 112, 1);
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* CONTAINER */

.container {
  color: #ffff;
  display: flex;

  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 260px 0;
}

/* TITLE SETTINGS */

.title {
  font-family: "Cambay", sans-serif;
  font-weight: bold;
  font-size: 105px;
}

/* BUTTON SETTINGS */

.button {
  background: var(--button-green);
  padding: 1rem 3rem;
  border-radius: 19px;
  color: var(--button);
}

/* BACKGROUND */

.background {
  background: linear-gradient(
    to bottom right,
    var(--dark-green),
    var(--light-green)
  );
}
